<center><h2><span style="color: #339933">LINKS&nbsp;</span></h2></center>
<table width="771" border="0" align="center" cellpadding="0">
  <tr>
    <td><table width="400" align="center">
      <!--DWLayoutTable-->
      <tbody>
        <tr>
          <td valign="top" width="400" height="158"><div align="center">
              <h3>&nbsp;</h3>
          </div>
              <div align="left"><font size="4"><font face="Arial"><font size="3">We are providing the following useful links to information we think you will find helpful.&nbsp; By providing these links, SecurTrust Federal Credit Union is not endorsing any product or service found therein.&nbsp; SecurTrust Federal Credit Union is not responsible for the content of any site you may link to when you leave our site.&nbsp; <br />
                </font><br />
                <font size="3">If you link to another site from any of our pages, you are leaving our site pages, and we cannot be held responsible for any information that may be gathered at a linked site. &nbsp; We make every effort however, to ensure that all linked sites follow similar privacy policies as ours to offer you maximum security and privacy.</font>&nbsp;</font></font></div>
            <div align="center"><%= link_to image_tag("money.jpg", :alt=>"", :width=>191, :height=>130, :border=>0), "http://www.moneypass.com", :rel => "external" %></div>
            <div align="center"><br />
                <font face="Arial" size="4" color="#006600">You may use your SecurTrust Federal Credit Union ATM card &quot;surcharge free&quot; wherever you see this logo. There are thousands of locations nationwide. To locate a MONEYPASS ATM near you, click here: <%= link_to "www.moneypass.com", "http://www.moneypass.com/" %></font><br />
                  <br />
            </div></td>
        </tr>
        <tr>
          <td valign="top" width="400" height="158"><div align="center"><%= link_to image_tag("Carfax.jpg", :alt=>"", :width=>119, :height=>81, :border=>0), "http://www.carfax4cu.com/", :rel => "external" %></div>
              <div align="center"><br />
                <font face="Verdana, Arial, Helvetica, sans-serif">We recommend Carfax<br />
                to protect your investment.</font></A> <font face="Verdana, Arial, Helvetica, sans-serif">
                      <p></p>
                      </font><br />
            </div></td>
        </tr>
        <tr>
          <td valign="top" height="237"><div align="center"><%= link_to image_tag("a1.jpg", :alt=>"", :width=>289, :border=>0), "http://www.a-1motors.com/", :rel=> "external" %>
                </div>
              <div align="center"><font face="Verdana" size="2">Click for more information about A-1 Motors</font></div></td>
        </tr>
        <tr>
          <td valign="top" height="237"><div align="center" class="style1">
              <div align="left">
                <p><%= link_to "Get The F.A.C.T.s About Your Right to a<br />
                  FREE Annual Credit Report", "http://www.a-1motors.com/", :rel => "external" %> <br />
                  The Fair and Accurate Credit Transaction Act signed into law on December 1, 2003, gives all  Americans the right to check their credit report annually....for free!<br />
                  <br />
                  We feel it is important for you to receive your free annual credit report.  Check it for errors and make sure all the accounts on the report are yours.  Also check to see if there are any reports of late payments that you disagree  with.<br />
                  <br />
                  Be sure to go to the FREE website, as many ads claim to be free,  but there may be costs involved.<br />
                  <br />
                  Where can I get my free credit report?<br />
                  <br />
                  On the internet at: <u><%= link_to "www.annualcreditreport.com", "https://www.annualcreditreport.com/cra/index.jsp", :rel => "external" %></u><br />
                  by telephone at: toll free, 877-322-8228<br />
                  by mailing a request to:<br />
                  Annual Credit Report Request Service<br />
                  P.O. Box 105281<br />
                  Atlanta, GA 30348.</p>
                <p>&nbsp;</p>
              </div>
          </div>
              </FONT>
              <div align="left" class="" style="font-family: Arial">We are providing the following useful links to information we think you will find helpful.  By providing these links, SecurTrust Federal Credit Union is not endorsing any product or service found therein.  SecurTrust Federal Credit Union is not responsible for the content of any site you may link to when you leave our site.  
                
              If you link to another site from any of our pages, you are leaving our site pages, and we cannot be held responsible for any information that may be gathered at a linked site.   We make every effort however, to ensure that all linked sites follow similar privacy policies as ours to offer you maximum security and privacy.</div>
            <p></p></td>
        </tr>
      </tbody>
    </table></td>
  </tr>
</table>