<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>SecurTrust Federal Credit Union</title>
	<%= stylesheet_link_tag 'securtrust' %>
	<%= stylesheet_link_tag 'ie6' %>
	<%= stylesheet_link_tag 'ie' %>

	<%= javascript_include_tag "functions" %>
	<%= javascript_include_tag "client" %>
	<%= javascript_include_tag "site" %>
</head>
<body>
	<%= render "layouts/header" %>
	<%= yield %>
    <%= render "layouts/footer" %>
</body>
</html>
